* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* Main Menu Styling */
.main-menu {
  display: flex;
  justify-content: center;
  align-content: center;
}
.main-menu li {
  width: 33%;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  list-style-type: none;
  height: 50px;
}
.main-menu-labels {
  margin: 0;
  padding: 15px 0;
  background-color: #08254f;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
/* Sub Menu Styling */
.sub-menu {
  background-color: #dde1e7;
}
.sub-menu li {
  display: block;
  width: 100%;
  padding: 20px;
  border: 2px solid #fff;
}

.hidden {
  display: none;
}

.main-menu-labels:hover {
  background: rgb(62, 187, 236);
  transition: all 1s;
}

.hidden:hover {
  transition: all 1s;
}

